.settingItem{
	p{
		font-size:0.32rem;
	}
	.icon-switch.off{
		float:right;
		width: 45px;
    	height: 25px;
		background:url(./images/icoset_switchoff_v5.png);    
    	background-size: 45px;
	}
	.icon-switch.on{
		float:right;
		width:30px;
		height:15px;
		background:url(./images/icoset_switchon_v5.png);
	}
}
